.main {
    display: grid;
    grid-template-columns: 35% 65%;
    border: 2px solid #F0F0F0;
    margin-top: 10px;

}

.content-item-m{
    display:none;
}

.root {
    padding-left: 15%;
    padding-right: 15%;
}

.title {
    display: grid;
    align-items: center;
    grid-template-columns: 2% 98%;
}

.title-text {
    font-size: 27px;
    font-family: Verdana;
}

.icon {
    width: 10px;
    height: 20px;
    background-color: dodgerblue;
    content: '';
    margin: 0 auto;
}

.menu {
    display: grid;
    padding-bottom: 10px;
    margin-left: 10px;

}


.content-item {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16pt;
    text-align: center;
}

.content-item img {
    max-height: 60%;
    max-width: 100%;
}

.menu div {
    display: table;
    width: 100%;
    height: 125px;
    background-color: #F0F0F0;
    margin-top: 10px;
    font-family: Verdana;
    text-align: center;
    font-size: 16pt;
}

.menu-item p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 724px) {
    .main{
        display: block;
    }

    .content-item{
        display: none;
    }

    .content-item-m{
        display: block;
    }

    .root {
        padding-left: 0;
        padding-right: 0;
    }

    .icon{
        width: 1.5vw;
        height: 2.5vw;
    }

    .menu {
        display: none;
    }
    .content-item-m {
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .content-item-m img {
        max-height: 70%;
        max-width: 100%;
    }

    .content-item-m p {
        font-size: 4vw;
    }

    .title-text {
        font-size: 3vw;
        font-family: Verdana;
    }
}
