.root{
    margin-right: 10%;
    margin-left: 10%;
}

.title{
    font-size: 24pt;
    color:#7C002F;
    font-family: Arial;
    font-weight: bold;
}

.content{
    font-size: 13pt;
    font-family: Arial;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    padding-right: 10px;
    overflow-y: hidden;
}

.content a{
    text-decoration: none;
}

.modal-text{
    font-size: 15px;
    padding-bottom: 10px;
}

.modal-text div{

}

.modal-text p{
    display: inline-block;
}

.content p{
    padding-left: 10px;
}

.tabs{
    border: 2px solid #606061;
    box-shadow: 0 0 3px;
    padding-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
}
.tabs > p{
    font-weight: bold;
    height: 40px;
    text-align: center;
}

.tabs-content{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(7, 60px);
}

.arrow{
    margin-top: 20px;
    text-align: center;
}

.arrow img{
    height: auto;
    max-width: 100%;
}

.tabs-item{
    display: grid;
    /*align-items: center;*/
    background-color: darkgrey;
    text-align: center;
    color: #FFFFFF;
}

.content-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-left: 0;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 60vw;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #F9FDC0;
    border: 3px solid #606061;
}

.modalDialog {
    position: fixed;
    font-family: Arial;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    /*-webkit-transition: opacity 400ms ease-in;*/
    /*-moz-transition: opacity 400ms ease-in;*/
    /*transition: opacity 400ms ease-in;*/
    display: none;
    pointer-events: none;
}

.close {
    content: 'x';
    background: url("but_close.png");
    height: 45px;
    width: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    text-decoration: none;
}